.grid-container {
  display: grid;
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.grid-item-1{
	align-self:start;
	justify-self:start;


}


.grid-item-2{
	
}

.grid-item-3{
	
}